<div class="img_container">
    <img src="https://image.tmdb.org/t/p/w500{{poster_path}}">
</div>
<div class="film_info">
    <h2>{{title}} {{name}}</h2>
    <div class="film__left_info">
        <span>Vote / Votes</span>
        <span>Popularity</span>
        <span>Original Title</span>
        <span>Genre</span>
    </div>
        <div class="film__right_info">
            <p><span>{{vote_average}}</span>{{vote_count}}</p>
            <span>{{popularity}}</span>
            <span>{{original_title}}</span>
            <span>{{genre_ids}}</span>
        </div>
        <p>About</p>
        <p>{{overview}}</p>
</div>
